@use 'sass:math';
// Импортируем данные из файла с функциями чтобы их можно было использовать здесь
@use 'functions' as *;

// Adaptive text
@mixin fluid-text($max: 360, $min: 12) {
    // Теперь в миксине можно вызываем функцию fluid которая принимает два значения для свойства font-size и рассчитывает значение в зависимотси от ширины экрана и свойства font-size для элемента html
    font-size: fluid($max, $min);
}

// Hide element
@mixin hide {
    opacity: 0;
    visibility: hidden;
}

// Show element
@mixin show {
    opacity: 1;
    visibility: visible;
}

// Flex center (if true - inline-flex, if false - flex)
@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    }

    @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

// Absolute position center
@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

// Передаем число, рисуем квадрат
@mixin square($size) {
    width: $size;
    height: $size;
}


// Hidden element
@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}